html, body {
    background: rgb(20, 20, 20);
    text-align: center;
    height: 100%;
    overflow: hidden;
    color: #f0f0f0;
    font-family: 'Roboto Condensed';
    font-size: 28px;
    letter-spacing: 5px;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ffffff;
    margin: 15px;
    padding: 15px;
}

/* line button animation */


.svg-wrapper {
    transform: translateY(-90%);
    margin: 0 auto;
    width: 320px;
}

.shape {
    stroke-dasharray: 140 540;
    stroke-dashoffset: -474;
    stroke-width: 8px;
    fill: transparent;
    stroke: #696969;
    border-bottom: 5px solid black;
    transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
}

.text {
    font-family: 'Roboto Condensed';
    font-size: 28px;
    line-height: 32px;
    letter-spacing: 8px;
    color: #f0f0f0;
    top: -48px;
    position: relative;
}

.svg-wrapper:hover .shape {
    stroke-width: 2px;
    stroke-dashoffset: 0;
    stroke-dasharray: 760;
}

div {
    cursor: default;
}

#home-button-container {
    position: relative;
    top: 15%;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    40% {
        opacity: 0.3;
    }
    60% {
        opacity: 0.5;
    }
    80% {
        opacity: 0.9;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    40% {
        opacity: 0.3;
    }
    60% {
        opacity: 0.5;
    }
    80% {
        opacity: 0.9;
    }
    100% {
        opacity: 1;
    }
}

#room-container{
    padding-top: 100px;
}

/* Nav bar */

code {
    background: #fff1;
    font-family: 'Inconsolata', monospace;
    padding: .2em .4em;
}

.content {
    background-color: #fff;
    border-radius: 8px;
    box-sizing: border-box;
    color: #666;
    font-size: 1.6em;
    line-height: 1.4em;
    margin: 20px auto;
    margin-top: 80px;
    padding: 20px;
    width: 100%;
    max-width: 800px;
}

.content ul {
    margin: .5em 2em;
    padding: 0;
}

#footer {
    background-color: #246c;
    background-image: linear-gradient(to bottom, transparent, #0009);
    border-top: 1px solid #fff3;
    box-shadow: inset 0 1px 0 #fff3, 0 0 32px #000;
    overflow: hidden;
    padding: 8px;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9001;
}

#footer a {
    color: #eeeeee;
    padding: 1em 0;
    text-decoration: none;
}

#footer ul {
    display: flex;
    list-style: none;
    justify-content: center;
    font-size: 1em;
    font-weight: 300;
}

#footer ul li {
    padding: 0 .5em;
}

/* Appearance */
.links {
    /*background-color: #182c31;*/
    background-color: transparent;
    /*background-image: linear-gradient(to bottom, #0003, transparent);*/
    /*border-bottom: 1px solid #0003;*/
    /*box-shadow: 0 0 32px #0003;*/
    font-size: 0.9em;
    font-weight: 300;
}

.links > a {
    color: #ffffff;
    padding: .75em;
    text-align: center;
    text-decoration: none;
    transition: all .5s;
}

.links > a:hover {
    color: #5f6c6c;
}

.links > .line {
    background: #ffffff;
    height: 1px;
    pointer-events: none;
}

/* The Magic */
#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.links {
    display: grid;
    grid-template-columns: repeat(var(--items), 1fr);
    position: relative;
}

.links > .line {
    opacity: 0;
    transition: all .5s;
    position: absolute;
    bottom: 0;
    left: var(--left, calc(100% / var(--items) * (var(--index) - 1)));
    width: var(--width, calc(100% / var(--items)));
    --index: 0;
}

.links > a:hover ~ .line {
    opacity: 1;
}

.links > a:nth-of-type(1):hover ~ .line {
    --index: 1;
}

.links > a:nth-of-type(2):hover ~ .line {
    --index: 2;
}

.links > a:nth-of-type(3):hover ~ .line {
    --index: 3;
}

.links > a:nth-of-type(4):hover ~ .line {
    --index: 4;
}

.links > a:nth-of-type(5):hover ~ .line {
    --index: 5;
}

.links > a:nth-of-type(6):hover ~ .line {
    --index: 6;
}

.links > a:nth-of-type(7):hover ~ .line {
    --index: 7;
}

.links > a:nth-of-type(8):hover ~ .line {
    --index: 8;
}

.links > a:nth-of-type(9):hover ~ .line {
    --index: 9;
}

.links > a:nth-of-type(10):hover ~ .line {
    --index: 10;
}

.links > a:last-of-type:hover ~ .line {
    --index: var(--items);
}