html, body {
    background: rgb(20, 20, 20);
    text-align: center;
    height: 100%;
    overflow: hidden;
    color: #f0f0f0;
    font-family: 'Roboto Condensed';
    font-size: 28px;
    letter-spacing: 5px;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ffffff;
    margin: 15px;
    padding: 15px;
}