html, body {
    background: rgb(20, 20, 20);
    text-align: center;
    height: 100%;
    overflow: hidden;
    color: #f0f0f0;
    font-family: 'Roboto Condensed';
    font-size: 28px;
    letter-spacing: 5px;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ffffff;
    margin: 15px;
    padding: 15px;
}

/* line button animation */


.svg-wrapper {
    transform: translateY(-90%);
    margin: 0 auto;
    width: 320px;
}

.shape {
    stroke-dasharray: 140 540;
    stroke-dashoffset: -474;
    stroke-width: 8px;
    fill: transparent;
    stroke: #696969;
    border-bottom: 5px solid black;
    transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
}

.text {
    font-family: 'Roboto Condensed';
    font-size: 28px;
    line-height: 32px;
    letter-spacing: 8px;
    color: #f0f0f0;
    top: -48px;
    position: relative;
}

.svg-wrapper:hover .shape {
    stroke-width: 2px;
    stroke-dashoffset: 0;
    stroke-dasharray: 760;
}

div {
    cursor: default;
}

#home-button-container {
    position: relative;
    top: 15%;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    40% {
        opacity: 0.3;
    }
    60% {
        opacity: 0.5;
    }
    80% {
        opacity: 0.9;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    40% {
        opacity: 0.3;
    }
    60% {
        opacity: 0.5;
    }
    80% {
        opacity: 0.9;
    }
    100% {
        opacity: 1;
    }
}
