{% extends 'layouts/base.html' %}
{% load static %}

{% block title %} APP {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
    <link href="{% static 'assets/css/index.css' %}" rel="stylesheet"/>
{% endblock stylesheets %}

{% block content %}

    <section id="buttons-container">
        <div class="svg-wrapper" id="container-button-1">
            <svg height="60" width="320" xmlns="http://www.w3.org/2000/svg">
                <rect class="shape" height="60" width="320"/>
                <div class="text">ENTER ROOM</div>
            </svg>
        </div>

        <div class="svg-wrapper" id="container-button-2">
            <svg height="60" width="320" xmlns="http://www.w3.org/2000/svg">
                <rect class="shape" height="60" width="320"/>
                <div class="text">CREATE ROOM</div>
            </svg>
        </div>

    </section>

    <!-- Code input -->
    <section id="code-input">

        <form action="" method="post">
            {% csrf_token %}
            <div class="form-modal">
                <input type="text" id="enter-input-code" maxlength='5' onkeypress='validate(event)'/>
            </div>
        </form>

        <br>
        <br>
        <br>

        <section class="arrow" id="arrow-code-input">
            <div class="wrapper">
                <svg width="18px" height="17px" viewBox="0 0 18 17" version="1.1" xmlns="http://www.w3.org/2000/svg"
                     xmlns:xlink="http://www.w3.org/1999/xlink">
                    <g id="prev" transform="translate(8.500000, 8.500000) scale(-1, 1) translate(-8.500000, -8.500000)">
                        <polygon class="arrow"
                                 points="16.3746667 8.33860465 7.76133333 15.3067621 6.904 14.3175671 14.2906667 8.34246869 6.908 2.42790698 7.76 1.43613596"></polygon>
                        <polygon class="arrow-fixed"
                                 points="16.3746667 8.33860465 7.76133333 15.3067621 6.904 14.3175671 14.2906667 8.34246869 6.908 2.42790698 7.76 1.43613596"></polygon>
                        <path d="M-1.48029737e-15,0.56157424 L-1.48029737e-15,16.1929159 L9.708,8.33860465 L-2.66453526e-15,0.56157424 L-1.48029737e-15,0.56157424 Z M1.33333333,3.30246869 L7.62533333,8.34246869 L1.33333333,13.4327013 L1.33333333,3.30246869 L1.33333333,3.30246869 Z"></path>
                    </g>
                </svg>
            </div>
        </section>

    </section>

    <!-- Name input -->
    <section id="name-input">

        <form action="" method="post">
            {% csrf_token %}
            <div class="form-name-input">
                <input type="text" id="enter-input-name" placeholder="John" autocomplete="false" maxlength='10'/>
            </div>
        </form>
        <br>
        <div class="page__toggle">
            <label class="toggle">
                <input class="toggle__input" type="checkbox" checked>
                <span class="toggle__label">
        <span class="toggle__text">Check Me!</span>
      </span>
            </label>
        </div>

        <br>
        <br>
        <br>
        <br>

        <section class="arrow" id="arrow-name-input">
            <div class="wrapper">
                <svg width="18px" height="17px" viewBox="0 0 18 17" version="1.1" xmlns="http://www.w3.org/2000/svg"
                     xmlns:xlink="http://www.w3.org/1999/xlink">
                    <g id="prev" transform="translate(8.500000, 8.500000) scale(-1, 1) translate(-8.500000, -8.500000)">
                        <polygon class="arrow"
                                 points="16.3746667 8.33860465 7.76133333 15.3067621 6.904 14.3175671 14.2906667 8.34246869 6.908 2.42790698 7.76 1.43613596"></polygon>
                        <polygon class="arrow-fixed"
                                 points="16.3746667 8.33860465 7.76133333 15.3067621 6.904 14.3175671 14.2906667 8.34246869 6.908 2.42790698 7.76 1.43613596"></polygon>
                        <path d="M-1.48029737e-15,0.56157424 L-1.48029737e-15,16.1929159 L9.708,8.33860465 L-2.66453526e-15,0.56157424 L-1.48029737e-15,0.56157424 Z M1.33333333,3.30246869 L7.62533333,8.34246869 L1.33333333,13.4327013 L1.33333333,3.30246869 L1.33333333,3.30246869 Z"></path>
                    </g>
                </svg>
            </div>
        </section>
        <br>
        <br>

        <section class="arrow" id="arrow-name-input-enter" style=" margin-top: 20px; transform: rotate(180deg);">
            <div class="wrapper">
                <svg width="18px" height="17px" viewBox="0 0 18 17" version="1.1" xmlns="http://www.w3.org/2000/svg"
                     xmlns:xlink="http://www.w3.org/1999/xlink">
                    <g id="prev" transform="translate(8.500000, 8.500000) scale(-1, 1) translate(-8.500000, -8.500000)">
                        <polygon class="arrow"
                                 points="16.3746667 8.33860465 7.76133333 15.3067621 6.904 14.3175671 14.2906667 8.34246869 6.908 2.42790698 7.76 1.43613596"></polygon>
                        <polygon class="arrow-fixed"
                                 points="16.3746667 8.33860465 7.76133333 15.3067621 6.904 14.3175671 14.2906667 8.34246869 6.908 2.42790698 7.76 1.43613596"></polygon>
                        <path d="M-1.48029737e-15,0.56157424 L-1.48029737e-15,16.1929159 L9.708,8.33860465 L-2.66453526e-15,0.56157424 L-1.48029737e-15,0.56157424 Z M1.33333333,3.30246869 L7.62533333,8.34246869 L1.33333333,13.4327013 L1.33333333,3.30246869 L1.33333333,3.30246869 Z"></path>
                    </g>
                </svg>
            </div>
        </section>

    </section>

    <section id="buttons-fraud-api">

        <div class="svg-wrapper" id="fraud-api-1">
            <svg height="60" width="320" xmlns="http://www.w3.org/2000/svg">
                <rect class="shape" height="60" width="320"/>
                <div class="text">DEV</div>
            </svg>
        </div>

        <div class="svg-wrapper" id="fraud-api-2">
            <svg height="60" width="320" xmlns="http://www.w3.org/2000/svg">
                <rect class="shape" height="60" width="320"/>
                <div class="text">PROD</div>
            </svg>
        </div>

        <div class="svg-wrapper" id="fraud-api-3">
            <svg height="60" width="320" xmlns="http://www.w3.org/2000/svg">
                <rect class="shape" height="60" width="320"/>
                <div class="text">COVERAGE</div>
            </svg>
        </div>

        <section class="arrow" id="arrow-fraud-api">
            <div class="wrapper">
                <svg width="18px" height="17px" viewBox="0 0 18 17" version="1.1" xmlns="http://www.w3.org/2000/svg"
                     xmlns:xlink="http://www.w3.org/1999/xlink">
                    <g id="prev" transform="translate(8.500000, 8.500000) scale(-1, 1) translate(-8.500000, -8.500000)">
                        <polygon class="arrow"
                                 points="16.3746667 8.33860465 7.76133333 15.3067621 6.904 14.3175671 14.2906667 8.34246869 6.908 2.42790698 7.76 1.43613596"></polygon>
                        <polygon class="arrow-fixed"
                                 points="16.3746667 8.33860465 7.76133333 15.3067621 6.904 14.3175671 14.2906667 8.34246869 6.908 2.42790698 7.76 1.43613596"></polygon>
                        <path d="M-1.48029737e-15,0.56157424 L-1.48029737e-15,16.1929159 L9.708,8.33860465 L-2.66453526e-15,0.56157424 L-1.48029737e-15,0.56157424 Z M1.33333333,3.30246869 L7.62533333,8.34246869 L1.33333333,13.4327013 L1.33333333,3.30246869 L1.33333333,3.30246869 Z"></path>
                    </g>
                </svg>
            </div>
        </section>

    </section>

    <section id="buttons-prepaid">

        <div class="svg-wrapper" id="prepaid-1">
            <svg height="60" width="320" xmlns="http://www.w3.org/2000/svg">
                <rect class="shape" height="60" width="320"/>
                <div class="text">SIT</div>
            </svg>
        </div>

        <div class="svg-wrapper" id="prepaid-2">
            <svg height="60" width="320" xmlns="http://www.w3.org/2000/svg">
                <rect class="shape" height="60" width="320"/>
                <div class="text">PRE-PROD</div>
            </svg>
        </div>

        <section class="arrow" id="arrow-prepaid">
            <div class="wrapper">
                <svg width="18px" height="17px" viewBox="0 0 18 17" version="1.1" xmlns="http://www.w3.org/2000/svg"
                     xmlns:xlink="http://www.w3.org/1999/xlink">
                    <g id="prev" transform="translate(8.500000, 8.500000) scale(-1, 1) translate(-8.500000, -8.500000)">
                        <polygon class="arrow"
                                 points="16.3746667 8.33860465 7.76133333 15.3067621 6.904 14.3175671 14.2906667 8.34246869 6.908 2.42790698 7.76 1.43613596"></polygon>
                        <polygon class="arrow-fixed"
                                 points="16.3746667 8.33860465 7.76133333 15.3067621 6.904 14.3175671 14.2906667 8.34246869 6.908 2.42790698 7.76 1.43613596"></polygon>
                        <path d="M-1.48029737e-15,0.56157424 L-1.48029737e-15,16.1929159 L9.708,8.33860465 L-2.66453526e-15,0.56157424 L-1.48029737e-15,0.56157424 Z M1.33333333,3.30246869 L7.62533333,8.34246869 L1.33333333,13.4327013 L1.33333333,3.30246869 L1.33333333,3.30246869 Z"></path>
                    </g>
                </svg>
            </div>
        </section>

    </section>

    <div id="footer">

        <hr class="style14">
        <div id="copyright">&copy; Innovation Tribe 2020</div>

    </div>
{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}

    <script src="{% static 'assets/js/core/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/index.js' %}"></script>

    <script>

        document.addEventListener('DOMContentLoaded', function (event) {
            document.getElementById("container-button-1").onclick = function () {
                document.getElementById("buttons-container").style.opacity = "0";
                setTimeout(() => {
                    document.getElementById("buttons-container").style.display = "none";
                    document.getElementById("code-input").style.display = "block";
                }, 500);
            };

            document.getElementById("container-button-2").onclick = function () {
                document.getElementById("buttons-container").style.opacity = "0";
                setTimeout(() => {
                    document.getElementById("buttons-container").style.display = "none";
                    document.getElementById("buttons-prepaid").style.display = "block";
                }, 500);
            };

            document.getElementById("arrow-prepaid").onclick = function () {
                document.getElementById("buttons-container").style.display = "block";
                document.getElementById("buttons-prepaid").style.display = "none";
                document.getElementById("buttons-container").style.opacity = "1";
            };

            {# This action comes back from input code to main menu#}
            document.getElementById("arrow-code-input").onclick = function () {
                document.getElementById("buttons-container").style.display = "block";
                document.getElementById("code-input").style.display = "none";
                document.getElementById("buttons-container").style.opacity = "1";
                $('#enter-input-code').val("");
            };

            {# This action comes back from input name to main menu#}
            document.getElementById("arrow-name-input").onclick = function () {
                document.getElementById("buttons-container").style.display = "block";
                document.getElementById("name-input").style.display = "none";
                document.getElementById("buttons-container").style.opacity = "1";
                $('#enter-input-code').val("");
            };

            document.getElementById("arrow-fraud-api").onclick = function () {
                document.getElementById("buttons-container").style.display = "block";
                document.getElementById("buttons-fraud-api").style.display = "none";
                document.getElementById("buttons-container").style.opacity = "1";
            };

        });
    </script>

{% endblock javascripts %}
